{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Converter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JavaScript -->
    <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">      </script>

</head>
<body>

            {% block content %}{% endblock content %}

</body>
</html>

