{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Converter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JavaScript -->
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">      </script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>

<nav>
    <header id="title"></header>

    <div class="nav-links">
        <a class="button" href="{% url 'index' %}" title="Home">Converter</a>
        <a id="aboutButton" type="button" class="button" href="#">About</a>
        <a id="contactButton" type="button" class="button" href="#">Contact</a>
        <script src="{% static 'js/script.js' %}"></script>
    </div>
</nav>

<main>
    {% block content %}{% endblock content %}
</main>

</body>
</html>

